*{
    box-sizing: border-box;
}


div{
    height: 100px;
    width: 100px;
    box-shadow: 5px 5px 5px  rgba(48, 47, 47, 0.61);
    border-radius: 1px;
    display: inline-block;

}
#div1{
    background-color: rgb(255, 166, 195);
    border: 3px solid  DeepPink;
    border-left: 3px solid DarkRed ;
    padding: 2px ;
    text-align: center;
    margin: 10px;
    display: flex;/* pergunta */
    justify-content: center;
    align-items: center;
    
  
    
}

#div2{
    background-color: rgb(236, 186, 236);
    border: 3px solid  Indigo;
    border-left: 3px solid MediumSlateBlue;
    padding: 2px ;
    text-align: center;
    margin: 10px;
    display: none;
}

#tx-nome{
    border: 2px solid PowderBlue;
    border-radius: 4px;
    padding: 2px ;
    box-shadow: 3px 3px 5px  rgba(48, 47, 47, 0.61);
    margin: 10px;
   
}

#tx-nome:focus{
    border: 2px solid DodgerBlue;
}

@media only screen and (max-width: 300px){/*quando a largura for igual que 300px aparace*/
    #div2{
        width: 100px;
        display: block;
    }
}






/* media query - arruma resolução para telas pequenas
display: none -> some com a div
align-items e justify-content -> principais do flexbox-container

*/